.container{
    display: flex;
    gap: 1rem;
    background-color: aqua;
    
}

aside, main{
   
    border: 1px solid black;
    height: 95vh;
    
}

aside{
    flex-basis: 25%;
}

main{
    flex: 1;
}

